# dependências
/node_modules

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# arquivos de build
/dist
/build
/out

# arquivos de cache
.eslintcache
.stylelintcache
/tmp
/temp
.cache/

# arquivos de configuração e credenciais
.env
.env.development
.env.production
.env.local
.DS_Store
.vscode/

# cypress
/cypress/screenshots
/cypress/videos
/cypress/reports
/cypress/results
/cypress/.cache